.search-box{
    flex-direction: column;
    padding: $offset;
    align-items: center;
    justify-content: center;

    &__keypad{
        width: 50%;

        @media screen and (max-width: $media_md) {
            width: 100%;
        }
    }
}