.search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d1f20;
    display: flex;
    z-index: 50;

    &__left{
        height: 100vh;
        padding: 1em $offset;
        width: 45%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-bottom: 0;

        @media screen and (max-width: $media_md) {
            width: 100%;
            height: 50vh;
        }
    }

    &__title{
        font-size: 2.5em;
        font-weight: 300;
        margin-bottom: 0.6em;
    }

    &__input{
        font-size: 2em;
    }

    &__keypad{
        height: 35vh;
        margin-top: 2em;
    }

    &__history{
        height: 35vh;
        margin-top: auto;

        .scroll__content{
            height: 35vh;
        }

        @media screen and (max-width: $media_md) {
            display: none;
        }
    }

    &__results{
        height: 100vh;
        width: 55%;
        flex-shrink: 0;

        @media screen and (max-width: $media_md) {
            width: 100%;
            height: 50vh !important;

            > .scroll{
                height: 50vh !important;
            }
        }
    }

    @media screen and (max-width: $media_md) {
        display: block;
    }
}

.search-history-key{
    display: flex;

    > div{
        font-size: 1.8em;
        border-radius: 10em;
        padding: 0.3em 1em;
        padding-top: 0.1em;
        background-color: #6d6d6d;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        line-height: 1.2;
        transition: background-color 0.3s;
        position: relative;

        > div{
            position: absolute;
            left: 100%;
            top: 0.3em;
            display: none;
            padding-left: 1em;
            font-size: 0.8em;
        }
    }

    &.focus{
        > div{
            background-color: #fff;
            color: #000;

            > div{
                color: #fff;
                display: block;
            }
        }
    }

    + div{
        margin-top: 1em;
    }
}

.search-history-empty{
    font-size: 1.3em;
    color: #747474;
}

body.system--keyboard .search{
    &__history{
        height: 60vh;

        .scroll__content{
            height: 60vh;
        }
    }
    &__keypad{
        height: auto;
        padding-bottom: 2em;
    }

    &__left{
        @media screen and (max-width: $media_md) {
            height: 35vh;
            min-height: 11em;
        }
        @media screen and (max-width: $media_xm) {
            height: 25vh;
        }
    }

    &__results{
        @media screen and (max-width: $media_md) {
            height: 65vh !important;

            > .scroll{
                height: 65vh !important;
            }
        }
        @media screen and (max-width: $media_xm) {
            height: 75vh !important;

            > .scroll{
                height: 75vh !important;
            }
        }
    }
}