@use 'components/welcome';
@use 'components/lang';
@use 'components/main' as main-component;
@use 'components/navigation_bar';
@use 'components/head_backward';
@use 'components/wrap';
@use 'components/head';
@use 'components/processing';
@use 'components/navigation-tabs';
@use 'components/activitys';
@use 'components/menu';
@use 'components/ai';
@use 'components/background';
@use 'components/settings';
@use 'components/discuss_rules';
@use 'components/scroll';
@use 'components/items';
@use 'components/tag_count';
@use 'components/reaction';
@use 'components/register';
@use 'components/card';
@use 'components/card_parser';
@use 'components/card_watched';
@use 'components/full/start' as full-start;
@use 'components/full/start_new';
@use 'components/full/descr';
@use 'components/full/persons';
@use 'components/full/reviews';
@use 'components/full/episode' as full-episode;
@use 'components/card_episode';
@use 'components/player';
@use 'components/player/video';
@use 'components/player/panel';
@use 'components/player/info' as player-info;
@use 'components/player/footer';
@use 'components/selectbox/box' as selectbox-box;
@use 'components/selectbox/item' as selectbox-item;
@use 'components/youtube';
@use 'components/birthday';
@use 'components/info';
@use 'components/more';
@use 'components/loading_layer';
@use 'components/category';
@use 'components/search/main' as search-main;
@use 'components/keyboard';
@use 'components/modal';
@use 'components/speedtest';
@use 'components/company';
@use 'components/person/start' as person-start;
@use 'components/empty';
@use 'components/account';
@use 'components/cub_premium';
@use 'components/notice';
@use 'components/bell';
@use 'components/torrent';
@use 'components/feed';
@use 'components/files';
@use 'components/explorer';
@use 'components/bookmarks_folder';
@use 'components/about';
@use 'components/error';
@use 'components/season';
@use 'components/episode';
@use 'components/button';
@use 'components/search/box' as search-box;
@use 'components/console';
@use 'components/timeline';
@use 'components/noty';
@use 'components/helper';
@use 'components/pincode';
@use 'components/nonetwork';
@use 'components/screensaver';
@use 'components/plugins_catalog';
@use 'components/broadcast';
@use 'components/timetable';
@use 'components/extensions';
@use 'components/smart';
@use 'components/ad';
@use 'components/online';
@use 'components/iframe';
@use 'components/orsay';
@use 'components/https';
@use 'components/touch';
@use 'components/animation';
@use 'components/light';
@use 'components/glass';