@use "sass:math";

$offset: 1.5em;

$media_lg: 991px;
$media_md: 767px;
$media_sm: 580px;
$media_xm: 480px;
$media_xs: 400px;

@import 'components/welcome';
@import 'components/lang';
@import 'components/main';
@import 'components/wrap';
@import 'components/head';
@import 'components/activitys';
@import 'components/menu';
@import 'components/background';
@import 'components/settings';
@import 'components/scroll';
@import 'components/items';
@import 'components/card';
@import 'components/card_parser';
@import 'components/card_watched';
@import 'components/full/start';
@import 'components/full/descr';
@import 'components/full/persons';
@import 'components/full/reviews';
@import 'components/full/episode';
@import 'components/player';
@import 'components/player/video';
@import 'components/player/panel';
@import 'components/player/info';
@import 'components/selectbox/box';
@import 'components/selectbox/item';
@import 'components/youtube';
@import 'components/info';
@import 'components/more';
@import 'components/category';
@import 'components/search/main';
@import 'components/keyboard';
@import 'components/modal';
@import 'components/company';
@import 'components/person/start';
@import 'components/empty';
@import 'components/notice';
@import 'components/torrent';
@import 'components/files';
@import 'components/about';
@import 'components/error';
@import 'components/button';
@import 'components/search/box';
@import 'components/console';
@import 'components/timeline';
@import 'components/noty';
@import 'components/helper';
@import 'components/nonetwork';
@import 'components/screensaver';
@import 'components/plugins_catalog';
@import 'components/broadcast';
@import 'components/timetable';
@import 'components/extensions';
@import 'components/online';
@import 'components/iframe';
@import 'components/orsay';
@import 'components/touch';
@import 'components/light';