bot/
build/
build/web/
dest/
plugins/clear
plugins/anime
plugins/strawberry
plugins/trailers
plugins/quality
plugins/interface
plugins/cardify
plugins/black-friday
plugins/christmas
index/
node_modules/
svg/
temp/
.idea/
package-lock.json
src/utils/api/okko.js
.DS_Store