bot/
build/
build/web/
dest/
plugins/**/css/style.css
public/css/app.css
plugins/clear
plugins/anime
plugins/strawberry
plugins/trailers
plugins/quality
plugins/interface
plugins/cardify
plugins/black-friday
plugins/christmas
node_modules/
svg/
temp/
.idea/
package-lock.json
src/utils/api/okko.js
.DS_Store
/initialSettings.json
