@use '../variables.scss' as var;
.selectbox{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 55;

    &__layer{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;

        @media screen and (max-width: var.$media_xm) {
            backdrop-filter: blur(1em);
        }
    }

    &__content{
        position: fixed;
        top: 0;
        left: 100%;
        transition: transform var.$speed;
        background: #262829;
        width: 35%;
        display: flex;
        flex-direction: column;
        will-change: transform;

        @media screen and (max-width: var.$media_md) {
            width: 50%;
        }

        @media screen and (max-width: var.$media_sm) {
            width: 70%;
        }

        @media screen and (max-width: var.$media_xm) {
            width: 100%;
            left: 0;
            top: unset;
            bottom: 0;
            height: auto !important;
            transition: none;
            transform: translate3d(0, 100% ,0);
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
        }
    }

    &__head{
        flex-shrink: 0;
        padding: 2em;
        padding-bottom: 0;
    }

    &__body{
        flex-grow: 1;
        display: flex;

        @media screen and (max-width: var.$media_xm) {
            height: auto !important;
        }

        > * {
            width: 100%;
        }
    }

    &__title{
        font-size: 2.2em;
        font-weight: 300;
    }

    &__text{
        line-height: 1.6;
        padding: 1.5em 2em;

        > div{
            font-size: 1.3em;
        }
    }

    &--fullsize{
        .selectbox__content{
            width: 100%;
        }
    }
}

body.selectbox--open{
    .selectbox{
        &__layer{
            display: block;
        }
        &__content{
            @media screen and (min-width: var.$media_xm) {
                transform: translate3d(-100%, 0 ,0);
            }
        }
    }
}