.selectbox{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 55;

    &__layer{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    &__content{
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.3s;
        background: #262829;
        width: 35%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $media_md) {
            width: 50%;
        }

        @media screen and (max-width: $media_sm) {
            width: 70%;
        }
    }

    &__head{
        flex-shrink: 0;
        padding: 2em;
        padding-bottom: 0;
    }

    &__body{
        flex-grow: 1;
        display: flex;

        > * {
            width: 100%;
        }
    }

    &__title{
        font-size: 2.5em;
        font-weight: 300;
    }

}

body.selectbox--open{
    .selectbox{
        &__layer{
            display: block;
        }
        &__content{
            right: 0
        }
    }
}