.selectbox-item{
    padding: 1.5em 2em;
    position: relative;
    will-change: transform;

    &__title{
        font-size: 1.3em;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;

        sub{
            vertical-align: super;
            margin-left: 0.7em;
            opacity: 0.5;
            font-size: 0.8em;
        }
    }

    &__subtitle{
        font-size: 1.1em;
        margin-top: 0.4em;
        opacity: 0.7;
    }

    &__checkbox{
        width: 1.4em;
        height: 1.4em;
        border: 0.2em solid rgba(255,255,255,0.2);
        position: absolute;
        top: 1.7em;
        right: 2em;
        border-radius: 0.3em;
    }

    &__icon{
        margin-right: 1em;
        flex-shrink: 0;

        > *{
            width: 2.7em;
            height: 2.7em;

            &.size-youtube{
                width: 6.9em;
                height: 3.9em;
            }
        }
    }

    &__lock{
        position: absolute;
        top: 50%;
        right: 1.7em;
        opacity: 0.5;
        margin-top: -1.1em;
        opacity: 0.5;

        > svg{
            width: 2em !important;
            height: 2em !important;
        }
    }

    &--checkbox{
        padding-right: 4em;
    }

    &--checked{
        .selectbox-item__checkbox{
            border-color: #fff;

            &::after{
                content: "";
                display: block;
                width: 0.3em;
                height: 0.6em;
                border-right: 0.2em solid #fff;
                border-bottom: 0.2em solid #fff;
                position: absolute;
                top: 0em;
                right: 0.25em;
                transform: rotate(45deg);
            }
        }
    }

    &--icon{
        display: flex;
        align-items: center;
    }

    &.selected:not(.nomark),
    &.picked{
        padding-right: 4em;

        &::after{
            content: "";
            display: block;
            width: 0.6em;
            height: 1.2em;
            border-right: 0.2em solid #fff;
            border-bottom: 0.2em solid #fff;
            position: absolute;
            top: 50%;
            right: 2em;
            transform: rotate(45deg);
            margin-top: -0.9em;
        }
    }
    &.focus{
        background-color: #353535;
    }
}