.selectbox-item{
    padding: 1.5em 2em;
    position: relative;
    will-change: transform;

    &__title{
        font-size: 1.3em;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subtitle{
        font-size: 1.1em;
        margin-top: 0.4em;
        opacity: 0.7;
    }

    &__checkbox{
        width: 1.4em;
        height: 1.4em;
        border: 0.3em solid rgba(255,255,255,0.2);
        position: absolute;
        top: 1.7em;
        right: 2em;
    }

    &__icon{
        margin-right: 1em;

        > *{
            width: 2.7em;
            height: 2.7em;
        }
    }

    &--checkbox{
        padding-right: 4em;
    }

    &--checked{
        .selectbox-item__checkbox{
            border-radius: 100%;
            border-color: #fff;
        }
    }

    &--icon{
        display: flex;
        align-items: center;
    }

    &.focus{
        background-color: #353535;
    }
}