.player-info{
    position: fixed;
    top: $offset;
    left: $offset;
    right: $offset;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s, opacity 0.3s;
    padding: $offset;
    border-radius: 0.5em;
    backdrop-filter: blur(5px);

    &.info--visible{
        transform: translateY(0);
        opacity: 1
    }

    &__name{
        font-size: 1.5em;
        word-break: break-all;
    }

    &__line{
        display: flex;
    }

    &__time{
        margin-left: auto;
        flex-shrink: 0;
        font-size: 1.5em;
        padding-left: 1em;
    }

    &__error{
        margin-top: 1em;
    }

    &__values{
        display: flex;
        margin-top: 1.2em;

        > div{
            margin-right: 1em;

            span{
                font-size: 1.2em;
                font-weight: 300;
            }
        }
    }
}