.player-video{
    $self: &;
    &__video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/loader.svg) no-repeat 50% 50%;
        display: none;
    }

    &__paused{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 8em;
        height: 8em;
        border-radius: 100%;
        padding: 2em;
        background-color: rgba(0,0,0,0.5);
        margin-left: -4em;
        margin-top: -4em;
    }

    &__subtitles{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: $offset;
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.25;

        &.size {
            &--large {
                font-size: 3em;
            }
            &--small {
                font-size: 2em;
            }
        }

        &.has-backdrop {
            #{ $self }__subtitles-text {
                background: rgba(0, 0, 0, .5);
            }
        }

        &.has-stroke {
            text-shadow:  0 2px 1px #000000, 0 -2px 1px #000000, -2px 1px 0 #000000, 2px 0px 1px #000000;
        }

        &.on-top {
            top: 0;
        }
    }

    &__subtitles-text {
        display: inline-block;
        padding: .25em .5em;
        border-radius: .25em;

        &:empty {
            display: none;
        }
    }

    &.video--load{
        .player-video__loader{
            display: block;
        }
    }

    &[data-size="cover"] .player-video__video{
        object-fit: cover;
    }

    &[data-size="contain"] .player-video__video{
        object-fit: contain;
    }
}

.player-video__paused{
    background-color: rgba(0,0,0,0.6);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .player-video__paused{
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
    }
}