@use '../abstracts' as *;

.account-modal{
    text-align: center;

    &__icon{
        width: 9em;
        height: 9em;
        margin: 0 auto;
        margin-bottom: 2em;
        border-radius: 100%;
        background-color: rgba(255,255,255,0.1);
        display: flex;
        align-items: center;
        justify-content: center;

        > svg{
            width: 4em;
            height: 4em;
        }
    }

    &__icon-svg{
        > svg{
            width: 9.1em;
            height: 9.1em;
        }
        
        margin-bottom: 2em;
    }

    &__desc{
        font-size: 1.2em;
        line-height: 1.6;
    }

    &__site{
        background-color: rgba(255,255,255,0.1);
        border-radius: 0.3em;
        padding: 0.2em 0.5em;
        padding-top: 0em;
    }
}

.account-add-device{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__site{
        background: rgba(0,0,0,0.3);
        display: inline-block;
        padding: 0.1em 0.4em;
        border-radius: 0.4em;
        color: #D8C39A;
    }

    .about{
        margin-bottom: 2em;
    }

    .simple-button{
        margin: 0;
    }

    .account-add-device__qr{
        width: 12em;
        height: 12em;
        border-radius: 1em;
        padding: 0.6em;
        background: #fff;
        margin-bottom: 1.8em;
        opacity: 0;
    }

    &.loaded{
        .account-add-device__qr{
            opacity: 1;
        }
    }
}

.account-modal-split{
    $self: &;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;

    &__qr{
        flex-shrink: 0;
        text-align: center;
        width: 45%;
    }

    &__qr-img{
        width: 16em;
        height: 16em;
        border-radius: 1em;
        padding: 0.5em;
        background: rgb(60, 62, 63);
        margin-bottom: 1.8em;
        opacity: 0;
        transform: translate3d(0, 20%, 0);
        transition: opacity 0.2s, transform 0.2s;

        &.loaded{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &__qr-code{
        width: 16em;
        height: 16em;
        padding: 0.5em;
        background: rgb(60, 62, 63);
        border-radius: 1.1em;
        margin: 0 auto;
        margin-bottom: 1.8em;

        svg{
            border-radius: 0.7em;
            width: 15em !important;
            height: 15em !important;
        }
    }

    &__qr-text{
        font-size: 1em;
        font-size: 1em;
        max-width: 16em;
        margin: 0 auto;
    }

    &__info{
        width: 55%;
        padding-right: 1.5em;
    }

    &__title{
        font-size: 2.2em;
        margin-bottom: 0.5em;
        font-weight: 300;
    }

    &__text{
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    &__code{
        display: flex;
        margin-bottom: 4em;
        justify-content: space-between;
        width: 80%;
    }

    &__code-num{
        border-radius: 0.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff0f;
        padding: 1.6em 1.4em;
        position: relative;
        
        > span{
            display: block;
            line-height: 1;
            font-size: 2em;
            width: 0.6em;
            text-align: center;
            font-weight: 700;
        }

        &:before{
            display: block;
            content: "";
            position: absolute;
            bottom: -1em;
            left: 0;
            width: 100%;
            height: 0.2em;
            background-color: #ddd;
        }
    }

    &__keyboard{
        width: 80%;

        .hg-button{
            padding: 0.5em 0
        }
    }

    .account-modal__site{
        color: #D8C39A;
    }

    &--mobile{
        #{ $self }__qr{
            display: none;
        }
        #{ $self }__info{
            width: 100%;
            padding: 0;
        }
        #{ $self }__keyboard,
        #{ $self }__code{
            width: 100%;
        }
    }
}