@use '../abstracts' as *;

.ad-bot{
    $self: &;

    width: 40em;
    flex-shrink: 0;
    margin-right: 1em;
    line-height: 1.6;

    @media screen and (max-width: $media_sm) {
        width: 27em;
    }

    &__content{
        background-color: rgba(255,255,255,0.2);
        position: relative;
        border-radius: 1em;
    }

    &__body{
        display: flex;
        align-items: flex-end;
        height: 19em;
    }

    &__left{
        width: 40%;
        padding: 2.1em;
        padding-bottom: 0;

        @media screen and (max-width: $media_sm) {
            padding: 0.8em;
            padding-bottom: 0;
        }
    }

    &__right{
        width: 60%;
        padding: 1.5em;

        @media screen and (max-width: $media_sm) {
            padding: 1em;
        }
    }

    &__title{
        font-weight: 600;
        font-size: 1.6em;

        @media screen and (max-width: $media_sm) {
            font-size: 1.4em;
        }
    }

    &__text{
        margin-top: 1em;

        overflow: hidden;
        text-overflow: ".";
        display: -webkit-box;
        -webkit-line-clamp: 5;
                line-clamp: 5; 
        -webkit-box-orient: vertical;

        @media screen and (max-width: $media_sm) {
            -webkit-line-clamp: 3;
                    line-clamp: 3;
        }
    }

    &__more{
        margin-top: 1em;
    }

    &__imgbox{
        padding-bottom: 150%;
        position: relative;
    }

    &__img{
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    &__marker{
        position: absolute;
        top: 0;
        right: 0;
        background-color: gold;
        color: #fff;
        padding: 0.2em 0.3em;
        border-radius: 0.3em;
        border-top-right-radius: 1em;
        
        &:after{
            content: 'AD';
            font-size: 0.8em;
        }
    }

    &__info{
        margin-top: 1.2em;
    }

    &.focus,
    &.hover{
        #{ $self }__content::after{
            content: "";
            position: absolute;
            top: -0.5em;
            left: -0.5em;
            right: -0.5em;
            bottom: -0.5em;
            border: 0.3em solid #fff;
            border-radius: 1.4em;
            z-index: -1;
            pointer-events: none;
        }
    }

    &.img--loaded{
        #{ $self }__img{
            opacity: 1;
        }
    }
}

body.size--bigger .ad-bot__body{
    height: 21.7em;
}

.ad-countdown{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.3em;

    &__text{
        padding: 0.4em;
    }

    &__time{
        min-width: 1em;
        text-align: center;
        background-color: #ffe216;
        border-radius: 0.3em;
        padding: 0.4em;
        min-width: 2em;
        color: #000;
    }

    &--player{
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 3em;
        transition: margin-bottom 0.3s;
    }
}

.player .player-panel.panel--visible .ad-countdown.ad-countdown--player{
    margin-bottom: 1em;
}

@keyframes ad-video-loader {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.ad-video-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 60;

    &__loader{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 0.5em;
        width: 10em;
        margin: -0.2em 0 0 -5em;
        background: no-repeat linear-gradient(#ffe216 0 0), no-repeat linear-gradient(#fff 0 0),rgba(255,255,255,0.1);
        background-size: 60% 100%;
        animation: ad-video-loader 3s infinite;
        border-radius: 1em;
    }

    &__video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &.loaded{
            opacity: 1;
        }
    }

    &__vast{
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &-line{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #000;
            height: 4em;
        }
    }

    &__footer{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__text{
        padding: 1em;
        color: #fff;
        text-shadow: 0 0em 0.4em #000;
        max-width: 80%;
    }

    &__info{
        position: fixed;
        top: 0;
        left: 0;
        padding: 1em;
        color: #fff;
        text-shadow: 0 0em 0.4em #000;
        font-size: 0.9em;
    }

    &__progress{
        background-color: rgba(0,0,0,0.3);
    }

    &__progress-fill{
        background-color: #ffe216;
        height: 0.3em;
        width: 0%;
        transition: width 0.1s linear;
    }

    &__skip{
        position: fixed;
        right: 1em;
        bottom: 1em;
        background-color: rgba(0,0,0,0.5);
        border-radius: 0.3em;

        span{
            display: inline-block;
            padding: 0.4em;
            min-width: 2em;
            text-align: center;
        }
    }
}

.ad-preroll{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 60;

    &__bg,
    &__over{
        position: fixed;
        background: #454545;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(-100%,0,0);
        transition: transform 0.4s;

        &.animate{
            transform: translate3d(0,0,0);
        }
    }

    &__over{
        background: #000;
    }

    &__text{
        position: fixed;
        text-align: center;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate3d(0,0,0);
        transition: transform 0.6s, opacity 0.4s;
        color: #fff;
        font-size: 4em;
        font-weight: 700;
        opacity: 0;

        @media screen and (max-width: $media_sm) {
            font-size: 2.3em;
        }

        &.animate{
            transform: translate3d(0,-50%,0);
            opacity: 1;
        }
    }
}

.ad-server{
    display: flex;
    align-items: flex-start;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.3em;
    margin: 1.5em 2em;

    &__text{
        padding: 1em;
        flex-grow: 1;
        line-height: 1.4;
    }

    &__qr{
        width: 8em;
        height: 8em;
        flex-shrink: 0;
    }

    &__label{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ffe216;
        border-radius: 0.3em;
        padding: 0.5em;
        color: #000;
    }
}
