.ad-countdown{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.3em;

    &__text{
        padding: 0.4em;
    }

    &__time{
        min-width: 1em;
        text-align: center;
        background-color: #ffe216;
        border-radius: 0.3em;
        padding: 0.4em;
        min-width: 2em;
        color: #000;
    }

    &--player{
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 3em;
        transition: margin-bottom 0.3s;
    }
}

.player .player-panel.panel--visible .ad-countdown.ad-countdown--player{
    margin-bottom: 1em;
}

@keyframes ad-video-loader {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.ad-video-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 60;

    &__loader{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 0.5em;
        width: 10em;
        margin: -0.2em 0 0 -5em;
        background: no-repeat linear-gradient(#ffe216 0 0), no-repeat linear-gradient(#fff 0 0),rgba(255,255,255,0.1);
        background-size: 60% 100%;
        animation: ad-video-loader 3s infinite;
        border-radius: 1em;
    }

    &__video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &.loaded{
            opacity: 1;
        }
    }

    &__vast{
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &-line{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #000;
            height: 4em;
        }
    }

    &__footer{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__text{
        padding: 1em;
        color: #fff;
        text-shadow: 0 0em 0.4em #000;
        max-width: 80%;
    }

    &__info{
        position: fixed;
        top: 0;
        left: 0;
        padding: 1em;
        color: #fff;
        text-shadow: 0 0em 0.4em #000;
        font-size: 0.9em;
    }

    &__progress{
        background-color: rgba(0,0,0,0.3);
    }

    &__progress-fill{
        background-color: #ffe216;
        height: 0.3em;
        width: 0%;
        transition: width 0.1s linear;
    }

    &__skip{
        position: fixed;
        right: 1em;
        bottom: 1em;
        background-color: rgba(0,0,0,0.5);
        border-radius: 0.3em;

        span{
            display: inline-block;
            padding: 0.4em;
            min-width: 2em;
            text-align: center;
        }
    }
}

.ad-preroll{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 60;

    &__bg,
    &__over{
        position: fixed;
        background: #454545;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(-100%,0,0);
        transition: transform 0.4s;

        &.animate{
            transform: translate3d(0,0,0);
        }
    }

    &__over{
        background: #000;
    }

    &__text{
        position: fixed;
        text-align: center;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate3d(0,0,0);
        transition: transform 0.6s, opacity 0.4s;
        color: #fff;
        font-size: 4em;
        font-weight: 700;
        opacity: 0;

        @media screen and (max-width: $media_sm) {
            font-size: 2.3em;
        }

        &.animate{
            transform: translate3d(0,-50%,0);
            opacity: 1;
        }
    }
}

.ad-server{
    display: flex;
    align-items: flex-start;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.3em;
    margin: 1.5em 2em;

    &__text{
        padding: 1em;
        flex-grow: 1;
        line-height: 1.4;
    }

    &__qr{
        width: 8em;
        height: 8em;
        flex-shrink: 0;

        svg{
            width: 8em !important;
            height: 8em !important;
            border-radius: 0.3em;
        }
    }

    &__label{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ffe216;
        border-radius: 0.3em;
        padding: 0.5em;
        color: #000;
    }
}
