.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity $speed;
    will-change: opacity;

    &__one,
    &__two,
    &__fade{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }

    &__fade{
        opacity: 1;
    }
}