.bell{
    position: absolute;
    top: 0;
    left: 50%;
    width: 20em;
    z-index: 100;
    margin-left: -10em;
    transition: transform 0.3s, opacity 0.2s;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    pointer-events: none;
    padding-top: 1em;

    @media screen and (max-width: $media_sm) {
        width: 80%;
        padding: 1.5em;
        font-size: 1.2em;
        margin-left: -40%;
    }

    @media screen and (max-width: $media_xm) {
        width: 100%;
        margin-left: -50%;
        padding: 0.8em;
    }

    &__item{
        display: flex;
        align-items: center;
        padding: 1.3em;
        background: #1d1f20;
        border-radius: 1em;
        margin-bottom: 1em;
        opacity: 0;
        transform: translate3d(0, -1em, 0);
        transition: transform 0.3s, opacity 0.2s;

        @media screen and (max-width: $media_xm) {
            border-radius: 2em;
        }

        &-icon{
            flex-shrink: 0;
            width: 2em;
            height: 2em;
            margin-right: 1.3em;
        }
    
        &-text{
            flex-grow: 1;
            font-size: 1.1em;
            line-height: 1.4;
        }

        &.show{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }


    &.show{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}