@use '../abstracts' as *;

.simple-button{
    margin-right: 1em;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0.3);
    padding: 0.3em 1.2em;
    display: flex;
    border-radius: 1em;
    align-items: center;
    height: 2.8em;

    > svg{
        width: 1.5em;
        height: 1.5em;

        + span{
            margin-left: 1em;
        }
    }

    > span{
        margin-top: -0.2em;
    }

    &.focus{
        background-color: #fff;
        color: #000;
    }

    &--filter{
        

        > span{
            flex-shrink: 0;
        }

        > div{
            font-size: 0.7em;
            padding: 0.3em 0.5em;
            background-color: rgba(255,255,255,0.3);
            border-radius: 0.3em;
            margin-left: 1em;
            
            &::first-letter{
                text-transform: uppercase;
            }
        }

        @media screen and (min-width: $media_md) {
            overflow: hidden;

            > div{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &--invisible:not(.focus){
        background-color: rgba(0,0,0,0.07);
    }

    @media screen and (max-width: $media_sm) {
        &.filter--search span{
            display: none;
        }
    }
}