.card-watched{
    position: absolute;
    top: 0;
    left: 100%;
    right: -120%;
    bottom: 0;
    z-index: 1;
    background-color: #404040;
    margin-left: 0.5em;
    display: none;
    pointer-events: none;
    border-radius: 1em;

    &__inner{
        padding: 1em;
    }

    &__body{
        padding-top: 1em;
        font-size: 0.8em;
    }

    &__item{
        margin-top: 1em;

        > span{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:nth-child(1){
            color: #fff;
        }

        &:nth-child(2){
            color: #9f9f9f;
        }

        &:nth-child(3){
            color: #6c6c6c;
        }

        &:nth-child(4){
            color: #5e5e5e;
        }

        &:nth-child(5){
            color: #4c4c4c;
        }

        .time-line{
            margin-top: 0.5em;
        }
    }

    &.reverce--position{
        right: 100%;
        left: -120%;
        margin-right: 0.5em;
        margin-left: 0;
    }
}

.card.focus .card-watched{
    display: block;
}
.card.card--wide .card-watched{
    right: -40%;

    &.reverce--position{
        left: -40%;
        right: 100%;
    }
}