.card{
    flex-shrink: 0;
    width: 12.75em;
    position: relative;
    will-change: transform;

    + .card{
        margin-left: 1em;
    }

    &__img{
        border-radius: 1em;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #3E3E3E;
    }

    &__view{
        margin-bottom: 1em;
        position: relative;
        padding-bottom: 150%;
    }

    &__title{
        font-size: 1.3em;
        max-height: 3.6em;
        overflow: hidden;
        line-height: 1.2;
        text-overflow: ".";
				display: -webkit-box;
				-webkit-line-clamp: 3;
						line-clamp: 3; 
				-webkit-box-orient: vertical;
    }

    &__age{
        font-size: 0.9em;
        margin-top: 0.6em;
    }

    &__icons{
        position: absolute;
            top: 0.9em;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;

        &-inner{
            background: rgba(0,0,0,0.5);
            border-radius: 5em;
            display: flex;
            justify-content: center;
        }
    }

    &__icon{
        width: 1.8em;
        height: 1.8em;
        border-radius: 100%;
        background-size: 60%;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &.icon{
            &--book{
                background-image: url(../img/icons/menu/bookmark.svg);
            }
            &--wath{
                background-image: url(../img/icons/menu/time.svg);
            }
            &--like{
                background-image: url(../img/icons/menu/like.svg);
            }
            &--history{
                background-image: url(../img/icons/settings/player.svg);
            }
        }
    }

    &__promo{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: $offset*2 $offset $offset $offset;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

        &-title{
            font-size: 2em;
            line-height: 1.2;
        }

        &-text{
            font-size: 1.3em;
            line-height: 1.2;
            margin-top: 1em;
            font-weight: 300;
        }
    }

    &__type{
        position: absolute;
        left: -0.8em;
        top: 1.4em;
        padding: 0.4em 0.4em;
        background: #fff;
        color: #000;
        font-size: 0.8em;
        border-radius: 0.3em;
    }

    &__new-episode{
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        bottom: 0.8em;

        > div{
            background-color: #57F570;
            border-radius: 5em;
            padding: 0.5em 1em;
            color: #17491C;
            display: inline-block;
        }
    }

    &__quality{
        position: absolute;
        left: -0.8em;
        bottom: 1em;
        padding: 0.4em 0.4em;
        background: #ffe216;
        color: #000;
        font-size: 0.8em;
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        border-radius: 0.3em;
        text-transform: uppercase;
    }

    &__vote{
        position: absolute;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 1.4em;
        font-weight: 700;
        padding: 0.2em;
        border-top-left-radius: 0.3em;
        border-bottom-right-radius: 0.6em;
    }

    &__textbox{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1em;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 52%,rgba(0,0,0,0.85) 100%); 
        border-radius: 1em;
        display: flex;
        line-height: 1.5;
        align-items: flex-end;
    }

    &.focus,
    &.hover{
        .card__view::after{
            content: "";
            position: absolute;
            top: -0.5em;
            left: -0.5em;
            right: -0.5em;
            bottom: -0.5em;
            border: 0.3em solid #fff;
            border-radius: 1.4em;
            z-index: -1;
            pointer-events: none;
        }
    }

    &.hover .card__view::after{
        border-color: rgba(255,255,255,0.5);
    }

    &--prefab{
        min-height: 19em;
    }

    &--tv{
        .card__type{
            background: #ff4242;
            color: #fff;
        }
    }

    &--small{
        width: 10.8em;

        + .card{
            margin-left: 1em;
        }

        .card__view{
            margin-bottom: 0;
        }

        &.card--wide{
            width: 34.3em;

            .card__view{
                padding-bottom: 56%;
            }
        }
    }

    &--category{
        width: 16.666%;
        padding-bottom: 1em;


        @media screen and (max-width: $media_lg) {
            width: 16.666%;
        }

        @media screen and (max-width: $media_md) {
            width: 20%;
        }

        @media screen and (max-width: $media_sm) {
            width: 25%;
        }

        @media screen and (max-width: $media_xs) {
            width: 33.3%;
        }
    }

    &--collection{
        padding-bottom: 1em;
        width: 25%;

        .card__view{
            padding-bottom: 60%;
        }
        
        @media screen and (max-width: $media_sm) {
            width: 33.3%;
        }

        @media screen and (max-width: $media_xs) {
            width: 50%;
        }
    }

    &--radio{
        padding-bottom: 1em;
        width: 16.666%;

        @media screen and (max-width: $media_md) {
            width: 14.266%;
        }

        @media screen and (max-width: $media_sm) {
            width: 33.333%;
        }

        @media screen and (max-width: $media_xs) {
            width: 25%
        }
    }
}

@media screen and (min-width: $media_md) {
    body.size--bigger{
        .card{
            font-size: 1.14em;

            &--category{
                width: 20%;
            }

            &--collection{
                width: 33.33%;
            }
        }
    }
}