.console{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d1f20;
    z-index: 100;
    padding: $offset 0;

    &__line{
        padding: 0.3em $offset;
        font-size: 1.1em;
        line-height: 1.2;
        word-break: break-all;

        &:nth-child(2n){
            background-color: rgba(255,255,255,0.05);
        }

        &.focus{
            background-color: rgba(255,255,255,0.2);
        }
    }
}