.empty{
    width: 100%;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img{
        height: 17em;
        background: url(../img/empty.svg) no-repeat 50% 50%;
        background-size: contain;
        margin-bottom: 3em;
    }

    &__title{
        font-size: 2.4em;
    }

    &__descr{
        font-size: 1.4em;
        margin-top: 0.8em;
    }

    &__footer{
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    &--list{
        height: auto;
        text-align: left;
        padding: 2em 0;

        .empty__footer{
            justify-content: flex-start;
        }
    }
}