.extensions{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 20;
    background-color: #232425;

    &__head{
        flex-shrink: 0;
        padding: 1em $offset;

        &-title{
            font-size: 1.5em;
        }
    }

    &__block{
        &-head{
            padding: 0 $offset;
            margin-bottom: 1em;
        }
        &-title{
            font-size: 1.2em;
        }
        &-body{
            .scroll__body{
                display: flex;
            }
        }
        &-empty,
        &-add{
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20em;
            min-height: 10em;
            position: relative;
            flex-shrink: 0;

            &:after{
                content: '';
                border: 0.2em dashed #404040;
                display: block;
                border-radius: 0.3em;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }

            &.focus:after{
                border-color: #fff;
            }
        }

        &-add{
            border-radius: 0.3em;
            background-color: #404040;
            margin-right: 1em;

            &:after{
                display: none;
            }

            &.focus{
                box-shadow: 0 0 0 0.2em #fff;
            }
        }

        + .extensions__block{
            margin-top: 2.4em;
        }
    }

    &__item{
        background-color: #404040;
        border-radius: 0.3em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        min-height: 10em;
        width: 20em;
        flex-shrink: 0;
        position: relative;

        &-author{
            color: #8D8D8D;
            font-size: 0.84em;
            margin-bottom: 0.4em;
        }
        &-name{
            font-size: 1.1em;
            margin-bottom: 0.3em;
        }
        &-descr{
            line-height: 1.5;
            margin-bottom: 0.3em;
            font-size: 0.84em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-footer{
            margin-top: auto;
            padding-top: 1em;
            display: flex;
            align-items: center;
        }
        &-check{
            width: 1.2em;
            height: 1.2em;
            background-color: #343534;
            background-image: url(../img/loader.svg);
            background-repeat: no-repeat;
            background-size: 1em;
            background-position: 50% 50%;
            border-radius: 100%;
        }
        &-code{
            background-color: #343534;
            -webkit-border-radius: 0.1em;
            -moz-border-radius: 0.1em;
            border-radius: 0.3em;
            padding: 0.3em 0.4em 0.4em;
            font-size: 0.78em;
            margin-right: 1em;

            &.success{
                color: #6DCE4B;
            }
            &.error{
                color: #DD7337;
            }
        }
        &-status{
            font-size: 0.78em;
            color: #8D8D8D;
        }
        &-disabled{
            background-color: #343534;
            -webkit-border-radius: 0.1em;
            -moz-border-radius: 0.1em;
            border-radius: 0.3em;
            padding: 0.3em 0.4em 0.4em;
            font-size: 0.78em;
            margin-left: auto;
            color: #DD7337;
        }
        &-included{
            width: 1.2em;
            height: 1.2em;
            background-color: #343534;
            border-radius: 100%;
            text-align: center;
            padding-top: 0.24em;
            margin-right: 0.5em;

            &:after{
                content: '';
                display: inline-block;
                width: 0.2em;
                height: 0.4em;
                border-right: 0.15em solid #fff;
                border-bottom: 0.15em solid #fff;
                transform: rotate(45deg);
            }
        }
        &-premium{
            margin-right: 1em;
            background-color: #D8C39A;
            color: #000;
            padding: 0.1em 0.5em;
            border-radius: 0.3em;
            font-size: 0.8em;
        }
        
        + .extensions__item{
            margin-left: 1em;
        }

        &.focus{
            box-shadow: 0 0 0 0.2em #fff;
        }
    }

    &__cub{
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: #343534;
        -webkit-border-radius: 0.1em;
        -moz-border-radius: 0.1em;
        border-radius: 0.3em;
        padding: 0.3em 0.4em 0.4em;
        font-size: 0.78em;
    }
}