.feed{
    padding: 0 $offset;
}

.feed-head{
    padding-bottom: 3em;
    display: flex;
    align-items: center;

    &__icon{
        width: 8.2em;
        height: 8.2em;
        position: relative;
        margin-right: 2em;
        flex-shrink: 0;

        @media screen and (max-width: $media_sm) {
            margin: 0;
            margin-bottom: 1em;
            font-size: 1.2em;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    &__body{
        line-height: 1.4;
    }

    &__title{
        font-size: 2.2em;
    }

    &__info{
        font-size: 1.4em;
        margin-top: 0.1em;
        font-weight: 300;
    }

    @media screen and (max-width: $media_sm) {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.feed-item{
    $self: &;

    position: relative;
    padding-left: 3em;

    @media screen and (max-width: $media_sm) {
        padding-left: 0;
    }

    &__head{
        margin-bottom: 1em;
        display: flex;
        align-items: center;
    }

    &__icon{
        padding: 0.5em;
        border-radius: 100%;
        background: rgb(255,255,255,0.15);
        margin-right: 1em;

        svg{
            width: 1.8em !important;
            height: 1.8em !important;
        }
    }

    &__label{
        padding: 0.3em 0.5em;
        background: rgba(0,0,0,0.3);
        border-radius: 0.3em;
        font-size: 1.1em;

        &--top{
            background-color: #D69517;
        }

        &--now{
            background-color: #6F8DDC;
        }

        &--now_playing{
            background-color: #DA6FDC;
        }

        &--uhd{
            background-color: #69B96C;
        }

        &--popular{
            background-color: #B9A769;
        }

        &--trailer{
            background-color: #9291A4;
        }

        &--episode{
            background-color: #CD5050;
        }
    }

    &__body{
        padding-left: 3.8em;
        line-height: 1.4;
        width: 60%;

        @media screen and (max-width: $media_xs) {
            width: 90%;
        }
    }

    &__title{
        font-size: 2.5em;
        overflow: hidden;
        text-overflow: ".";
        display: -webkit-box;
        -webkit-line-clamp: 1;
                line-clamp: 1; 
        -webkit-box-orient: vertical;

        @media screen and (max-width: $media_sm) {
            font-size: 2em;
        }
    }

    &__info{
        font-size: 1.3em;
        opacity: 0.5;
        margin-top: 0.7em;

        @media screen and (max-width: $media_sm) {
            font-size: 1.1em;
        }
    }

    &__descr{
        font-size: 1.3em;
        font-weight: 300;
        margin-top: 1.7em;
        line-height: 1.6;
        overflow: hidden;
        text-overflow: ".";
        display: -webkit-box;
        -webkit-line-clamp: 5;
                line-clamp: 5; 
        -webkit-box-orient: vertical;
    }

    &__tags{
        margin-top: 1.3em;
    }

    &__right{
        position: absolute;
        top: 0;
        right: 8%;
        width: 20%;

        @media screen and (max-width: $media_md) {
            width: 26%;
        }

        @media screen and (max-width: $media_xs) {
            position: relative;
            width: 67%;
            margin-left: 3.7em;
            right: 0;
            padding-bottom: 1em;
        }
    }

    &__poster,
    &__image{
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            opacity: 0;
        }

        &-box{
            position: relative;
            padding-bottom: 150%;
            background: #262829;
            border-radius: 1em;

            &.loaded{
                background: transparent;
                border-radius: 0;
    
                #{ $self }__poster,
                #{ $self }__image{
                    &-img{
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__image-box{
        padding-bottom: 56%;
    }

    &__minicard{
        position: absolute;
        top: 50%;
        right: -2em;
        display: flex;
        align-items: flex-end;

        &-poster{
            width: 9em;
            margin-left: 2em;
            flex-shrink: 0;
        }

        .feed-item__title{
            font-size: 1.7em;
            max-width: 11em;
        }
        .feed-item__info{
            font-size: 1.1em;
        }
    }

    &__buttons{
        display: flex;
        margin-top: 3em;
    }

    &__tags{
        &::before{
            content: url(../img/icons/menu/bookmark.svg);
            width: 1em;
            height: 1em;
            height: 1.2em;
            margin-right: 0.7em;
        }
    }

    + .feed-item{
        margin-top: 6em;
    }

    &:not(:last-child)::after{
        content: '';
        display: block;
        background-color: rgba(255,255,255,0.3);
        position: absolute;
        top: 2.8em;
        left: 4.4em;
        bottom: -6em;
        width: 2px;

        @media screen and (max-width: $media_sm) {
            left: 1.3em;
        }
    }

    &--episode,
    &--trailer{
        #{ $self }__body{
            width: 48%;
        }

        #{ $self }__right{
            width: 35%;
        }

        #{ $self }__descr{
            min-height: 6em;
        }
    }

    &--trailer,
    &--episode{
        @media screen and (max-width: $media_md) {
            #{ $self }__body{
                width: 87%;
            }

            #{ $self }__minicard{
                top: auto;
                bottom: -5em;
                left: 0;
                justify-content: space-between;
            }
    
            #{ $self }__right{
                position: relative;
                width: 80%;
                right: 0;
                margin-left: 3.7em;
                margin-bottom: 7em;
            }

            #{ $self }__title{
                font-size: 2em;
            }

            #{ $self }__poster-img{
                width: 23%;
                min-width: 9em;
            }
        }
    }
}