.files{
    display: flex;

    &__left{
        width: 20em;
        padding: 2.5em $offset;
        flex-shrink: 0;

        .full-start__poster{
            display: inline-block;
            flex-shrink: 0;

            @media screen and (max-width: $media_sm) {
                display: none;
                
                .full-start__img{
                    font-size: 0.28em;
                }

                margin-right: 2em;
            }
        }

        @media screen and (max-width: $media_md) {
            width: 17em;
        }

        @media screen and (max-width: $media_sm) {
            display: flex;
            width: 100%;
            padding-bottom: 1em;
        }
    }

    &__body{
        flex-grow: 1;

        @media screen and (max-width: $media_sm) {
            width: 100%;
        }
    }

    &__info{
        overflow: hidden;
    }

    &__title{
        font-size: 2em;
        font-weight: 700;
        margin-top: 1.1em;

        @media screen and (max-width: $media_sm) {
            margin-top: 0.5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 0;
        }
    }

    &__title-original{
        font-size: 1.5em;
        margin-top: 0.8em;
    }

    @media screen and (max-width: $media_sm) {
        display: block;
    }
}

