@mixin no-glass{
    @media screen and (max-width: $media_xm) {
        .selectbox__content,
        .modal__content,
        .settings__content{
            background-color: #262829;
        }
    }
}

body.glass--style{
    .selectbox__content,
    .settings__content,
    .settings-input__content,
    .modal__content,
    .settings-input--free,
    .navigation-bar__body,
    .discuss-rules{
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(1.6em);
    }

    @include no-glass;

    .selectbox-item,
    .settings-folder,
    .settings-param{
        &.focus{
            background-color: #fff;
            color: #000;

            .settings-folder__icon,
            .selectbox-item__checkbox{
                filter: invert(1);
            }
        }
    }

    .selectbox-item.focus{
        &::after{
            border-color: #000;
        }
    }

    .settings-param-title > span{
        color: rgba(255,255,255,0.4)
    }

    .settings-input__links{
        background: rgba(221, 221, 221, 0.06);
    }

    .settings-input__input{
        border: 0;
    }

    .settings-input--free{
        .settings-input__content{
            background: transparent;
            backdrop-filter: none;
        }
    }

    .torrent-serial{
        background: rgb(132,135,137,0.15);

        &.focus{
            background: rgb(255,255,255,0.35);
        }
    }

    .card-more__box,
    .bookmarks-folder__layer{
        background: rgba(0,0,0,0.3);
    }

    &-opacity{
        &--medium{
            .selectbox__content,
            .settings__content,
            .settings-input__content,
            .modal__content,
            .settings-input--free,
            .navigation-bar__body{
                background-color: rgba(20,20,20,0.6);
                backdrop-filter: blur(1.1em);
            }

            .player-panel,
            .player-info,
            .player-footer,
            .player-video__paused,
            .player-video__loader,
            .normalization{
                background-color: rgba(0,0,0,0.6);
            }

            @include no-glass;
        }

        &--blacked{
            .selectbox__content,
            .settings__content,
            .settings-input__content,
            .modal__content,
            .settings-input--free,
            .navigation-bar__body{
                background-color: rgba(20,20,20,0.9);
                backdrop-filter: blur(0.5em);
            }

            .player-panel,
            .player-info,
            .player-footer,
            .player-video__paused,
            .player-video__loader,
            .normalization{
                background-color: rgba(0,0,0,0.85);
            }

            @include no-glass;
        }
    }
}