body.light--version{
    .wrap{
        transition: transform 0.2s;
    }
    .wrap__left{
        position: static;
        background: transparent;
    }

    &.menu--open{
        .wrap{
            transform: translate3d(15em, 0, 0);
        }
        .wrap__left{
            transform: unset;
        }
    }

    .background{
        display: none;
    }

    @media screen and (min-width: $media_lg) {
        .card--category{
            width: 16.66%;
        }
    }
    

    .card--small .card__title{
        margin-top: 0.5em;
    }

    .card__img,
    .card__quality,
    .items-line__more,
    .card-more__box,
    .card__type{
        border-radius: 0;
    }
}