body.light--version{
    .wrap__left{
        position: static;
        background: transparent;
        margin-left: 0;
    }

    .background{
        display: none;
    }

    @media screen and (min-width: $media_lg) {
        .card--category{
            width: 20%;
        }

        .files__left{
            font-size: 0.7em;
        }
        .files__body{
            max-width: inherit;
        }

        .timetable__item{
            width: 16.66%;
        }
    }
    

    .card--small .card__title{
        margin-top: 0.5em;
    }

    .card__img,
    .card__quality,
    .items-line__more,
    .card-more__box,
    .card__type{
        border-radius: 0;
    }
}