@font-face {
	font-family: "SegoeUI";
	font-display: swap;
	src: 
		url("../fonts/SegoeUI/SegoeUI-Light.eot") format("embedded-opentype"),
    	url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"),
    	url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "SegoeUI";
	font-display: swap;
	src: 
		url("../fonts/SegoeUI/SegoeUI.eot") format("embedded-opentype"),
    	url("../fonts/SegoeUI/SegoeUI.woff") format("woff"),
    	url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "SegoeUI";
	font-display: swap;
	src: 
		url("../fonts/SegoeUI/SegoeUI-SemiBold.eot") format("embedded-opentype"),
    	url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"),
    	url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "SegoeUI";
	font-display: swap;
	src: 
		url("../fonts/SegoeUI/SegoeUI-Bold.eot") format("embedded-opentype"),
    	url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"),
    	url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}


* {
    box-sizing: border-box;
    outline: none;
}

html{
	font-size: 16px;
}

*:after,
*:before{
	display: inline-block;
	vertical-align: middle;
}

input::placeholder {
	color: #6a6a6a;
	opacity: 1;
}

::-webkit-scrollbar {
	display: none;
}

input.hover::placeholder,
input.enter::placeholder {
	color: #fff;
	opacity: 1;
}

*:not(input){
	user-select: none;
}

body{
	line-height: 1;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    font-family: "SegoeUI", sans-serif;
    background: #1d1f20;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	user-select: none !important;
	-webkit-touch-callout: none !important;
}

img{
	vertical-align: middle;
	max-width: 100%;
	object-fit: cover;
}

svg{
    width: 100%;
    height: 100%
}

ul{
    list-style: none;
    padding: 0;
}

.hide{
	display: none !important;
}

body.no--mask{
	.scroll--mask{
		mask-image: unset !important
	}
}

body.no--animation *{
	transition: none !important;
}

body.no--cursor{
	cursor: none;
}

/** Фиг знает, баг **/
body.no--animation .background canvas{
	transition: opacity 0.1s !important;
}

.endless{
	transition: transform 0.2s;
}

.normalization{
	position: absolute;
	top: 50%;
	left: 1.5em;
	padding: 10px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.3em;
	z-index: 60;
	opacity: 0;
	transform: translateY(-50%) translateX(-100%);
	transition: all 0.1s;

	&--visible{
		opacity: 1;
		transform: translateY(-50%) translateX(0);
	}
}

body.platform--browser .normalization{
	backdrop-filter: blur(5px);
}

body.ambience--enable{
	.wrap,
	.head{
		display: none;
	}
}

.icon--blink:not(.focus){
	&.animate{
		background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%);
		background-size: 400% 400%;
		animation: head-icon-blick 1s ease forwards;
	}
}

@keyframes head-icon-blick {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}