.menu{
    width: 100%;

    &__split{
        margin: 1em 1em;
        width: 2.3em;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        margin-left: 1.7em;
    }

    &__list{
        margin: 0;
        padding-left: 0.6em;
    }

    &__item{
        display: flex;
        align-items: center;
        color: #ddd;
        position: relative;
        padding: 0.9em $offset;
        border-radius: 1em;

        + li{
            margin-top: 0.1em;
        }

        &.focus,
        &.traverse{
            background-color: #fff;
            color: #000;

            .menu__ico{
                > img{
                    filter: invert(1);
                }

                [stroke]{
                    stroke: #000;
                }
                path[fill],
                rect[fill],
                circle[fill]{
                    fill: #000;
                }
            }
        }

        &.traverse{
            &::before,
            &::after{
                position: absolute;
                left: 27%;
                margin-left: -0.5em;
                color: #fff;
            }

            &::before{
                content: '▲';
                top: -1.1em;
            }

            &::after{
                content: '▼';
                bottom: -1.1em;
            }
        }
    }

    &__ico{
        margin-right: 1.5em;
        width: 1.5em;
        height: 1.5em;
        display: flex;
        flex-shrink: 0;

        > img{
            width: 1.5em;
            height: 1.5em;
        }
    }

    &__text{
        font-size: 1.4em;
        font-weight: 300;
        line-height: 0.8;
        margin-top: -0.1em;
    }

    &:not(.editable) .menu__item.hidden{
        display: none;
    }

    &.editable{
        .menu__item{
            &.hidden{
                opacity: 0.5;
            }

            &.focus:not(.traverse){
                &::after{
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492.49284 492'%3E%3Cpath d='m304.140625 82.472656-270.976563 270.996094c-1.363281 1.367188-2.347656 3.09375-2.816406 4.949219l-30.035156 120.554687c-.898438 3.628906.167969 7.488282 2.816406 10.136719 2.003906 2.003906 4.734375 3.113281 7.527344 3.113281.855469 0 1.730469-.105468 2.582031-.320312l120.554688-30.039063c1.878906-.46875 3.585937-1.449219 4.949219-2.8125l271-270.976562zm0 0' fill='%23000000'%3E%3C/path%3E%3Cpath d='m476.875 45.523438-30.164062-30.164063c-20.160157-20.160156-55.296876-20.140625-75.433594 0l-36.949219 36.949219 105.597656 105.597656 36.949219-36.949219c10.070312-10.066406 15.617188-23.464843 15.617188-37.714843s-5.546876-27.648438-15.617188-37.71875zm0 0' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
                    position: absolute;
                    right: 0.7em;
                    top: 50%;
                    color: #000;
                    width: 1em;
                    height: 1em;
                    margin-top: -0.5em;
                }
            }
        }
    }
}

body.light--version{
    .menu{
        &__item{
            border-radius: 0.3em;
        }
    }
}