.menu{
    width: 100%;

    &__split{
        margin: 1em 1em;
        width: 2.3em;
        border-top: 2px solid rgba(255, 255, 255, 0.1)
    }

    &__list{
        margin: 0;
        padding-left: 0.6em;
    }

    &__item{
        display: flex;
        align-items: center;
        color: #ddd;
        position: relative;
        padding: 0.9em $offset;
        transition: background-color 0.3s;
        border-radius: 1em;

        + li{
            margin-top: 0.1em;
        }

        &.focus{
            background-color: #fff;
            color: #000;

            .menu__ico{
                > img{
                    filter: invert(1);
                }

                [stroke]{
                    stroke: #000;
                }
                path[fill],
                rect[fill],
                circle[fill]{
                    fill: #000;
                }
            }
        }
    }

    &__ico{
        margin-right: 1.5em;
        width: 1.5em;
        height: 1.5em;
        display: flex;
        flex-shrink: 0;

        > img{
            width: 1.5em;
            height: 1.5em;
        }
    }

    &__text{
        font-size: 1.4em;
        font-weight: 300;
        line-height: 0.8;
        margin-top: -0.1em;
    }
}

body.light--version{
    .menu{
        &__item{
            border-radius: 0.3em;
        }
    }
}