.menu{
    width: 100%;

    &__split{
        margin: 1em 1em;
        width: 2.3em;
        border-top: 2px solid rgba(255, 255, 255, 0.1)
    }

    &__item{
        display: flex;
        align-items: center;
        color: #ddd;
        position: relative;
        padding: 1em $offset;
        transition: background-color 0.3s;

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            display: none;
            left: 0;
            bottom: 0;
            width: 0.3em;
            background-color: #fff;
        }

        + li{
            margin-top: 0.1em;
        }

        &.focus{
            background: linear-gradient(to right, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);

            &:after{
                display: block;
            }
        }
    }

    &__ico{
        margin-right: 1em;
        width: 1.2em;
        height: 1.2em;
        display: flex;
        flex-shrink: 0;

        > img{
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        font-size: 1.4em;
        font-weight: 300;
        line-height: 0.8;
        margin-top: -0.1em;
    }
}