.card-more{
    flex-shrink: 0;
    width: 14.6em;
    transition: transform 0.3s, border-color 0.2s;
    height: 21.3em;
    background-color: #3E3E3E;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;

    &__title{
        font-size: 1.8em;
        font-weight: 300;
    }

    &.focus{
        box-shadow: 0 0 0 0.4em #fff;
    }

    &--small{
        width: 10.8em;
        height: 16.1em;
        margin-left: 1em;
    }
}