.card-more{
    flex-shrink: 0;
    margin-left: 2em;
    width: 11.85em;

    &__box{
        transition: transform 0.3s, border-color 0.2s;
        background-color: #3E3E3E;
        border-radius: 0.3em;
        padding-bottom: 150%;
        position: relative;
    }

    &__title{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.8em;
        font-weight: 300;
        margin-top: -0.7em;
    }

    &.focus{
        .card-more__box::after{
            content: "";
            position: absolute;
            top: -0.5em;
            left: -0.5em;
            right: -0.5em;
            bottom: -0.5em;
            border: 0.3em solid #fff;
            border-radius: 0.7em;
            z-index: -1;
        }
    }

    &--small{
        width: 10.8em;
        margin-left: 1em;
    }
}

.card.card--wide + .card-more .card-more__box{
    padding-bottom: 177%;
}