.notice{
    font-weight: 300;
    padding: $offset;
    border-radius: 0.3em;

    &__head{
        display: flex;
    }

    &__title{
        font-size: 1.5em;
        font-weight: 400;
    }

    &__descr{
        font-size: 1.2em;
        margin-top: 0.9em;
        line-height: 1.4;
        color: #ddd;
    }

    &__time{
        flex-shrink: 0;
        margin-left: auto;
        padding-left: 2em;
        padding-top: 0.2em;
    }

    + .notice{
        margin-top: 1em;
    }

    &.focus{
        background-color: rgba(255,255,255,0.1);
    }
}