.notice{
    font-weight: 300;
    padding: $offset;
    border-radius: 0.3em;

    &__head{
        display: flex;
    }

    &__title{
        font-size: 1.5em;
        font-weight: 400;
    }

    &__descr{
        font-size: 1.2em;
        margin-top: 0.9em;
        line-height: 1.4;
        color: #ddd;
    }

    &__time{
        flex-shrink: 0;
        margin-left: auto;
        padding-left: 2em;
        padding-top: 0.2em;
    }

    + .notice{
        margin-top: 1em;
    }

    &__left{
        flex-shrink: 0;
        margin-right: 2em;
        width: 7em;
    }

    &__body{
        flex-grow: 1;
    }

    &__img{
        padding-bottom: 147%;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.3em;
        }
    }

    &--card{
        display: flex;
    }

    &.focus{
        background-color: rgba(255,255,255,0.1);
    }

    
}