@use 'variables.scss' as var;
.noty{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #65eaa7;
    color: #000;
    transform: translateY(100%);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;

    &__body{
        padding: var.$offset;
        text-align: center;
    }

    &__text{
        font-size: 1.2em;
    }

    &--visible{
        transform: translateY(0%);
        opacity: 1;
    }

    &--style{
        &--glass{
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(1em);
            color: #fff;
        }
    }
}