.noty{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #65eaa7;
    color: #000;
    transform: translateY(100%);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;

    &__body{
        padding: $offset;
        text-align: center;
    }

    &__text{
        font-size: 1.2em;
    }

    &--visible{
        transform: translateY(0%);
        opacity: 1;
    }
}