.processing{
    display: flex;
    align-items: center;

    > div{
        background-color: rgba(255,255,255,0.3);
        border-radius: 5em;
        display: flex;
        align-items: center;
        padding: 0.3em;
    }

    &__loader{
        background-image: url(../img/loader.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.6em;
        height: 1.6em;
    }

    &__text{
        padding-left: 0.5em;
        padding-right: 0.3em;
    }
}