.screensaver {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10000;
    background-color: #000;
    top: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    
    &.visible{
        opacity: 1;
    }

    &__title{
        position: fixed;
        bottom: 10%;
        z-index: 3;
        left: 5%;
        width: 50%;
        text-shadow: 2px 2px 2px #000;
        opacity: 0;
        transition: opacity 0.5s;

        &.visible {
            opacity: 0.5;
        }

        &-name {
            font-size: 3em;
            font-weight: 300;
            margin-bottom: .25em;
        }

        &-tagline {
            font-weight: 300;
            font-size: 1.5em;
        }
    }

    &__slides{
        > img{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            transition: opacity 0.5s, transform 30s linear;
            opacity: 0;

            &.visible{
                opacity: 1;
            }
            
            &.lt{
                transform-origin: 0 0;
            }
            &.rt{
                transform-origin: 100% 0;
            }
            &.br{
                transform-origin: 100% 100%;
            }
            &.lb{
                transform-origin: 0 100%;
            }
            &.ct{
                transform-origin: 50% 50%;
            }

            &.animate{
                transform: scale(1.12);
            }
        }
    }

    &__gradient{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 100%);
        z-index: 2;
    }

    &__datetime {
        position: fixed;
        bottom: 10%;
        z-index: 3;
        right: 5%;
        width: 50%;
        text-shadow: 2px 2px 2px #000;
        text-align: right;
        opacity: 1;
        transition: opacity 0.5s;
        opacity: 0.5;

        &-time {
            font-size: 3em;
            font-weight: 300;
            margin-bottom: .25em;
        }

        &-date {
            font-weight: 300;
            font-size: 1.5em;
        }
    }

    &-chrome{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;

        &__iframe{
            position: fixed;
            border: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &__overlay{
            position: fixed;
            border: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
}