.settings{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    &__layer{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    &__content{
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.3s;
        background: #262829;
        width: 35%;
        display: flex;
        flex-direction: column;
    }

    &__head{
        flex-shrink: 0;
        padding: 2em;
        padding-bottom: 0;
    }

    &__body{
        flex-grow: 1;
        display: flex;

        > * {
            width: 100%;
        }
    }

    &__title{
        font-size: 2.5em;
        font-weight: 300;
    }

    &-folder{
        padding: 1.5em 2em;
        display: flex;
        transition: background-color 0.3s;

        &__icon{
            flex-shrink: 0;
            margin-right: 1.5em;
            width: 2em;
            height: 2em;
            display: flex;
        }
        &__name{
            font-size: 1.4em;
            line-height: 1.3;
        }

        &.focus{
            background-color: #353535;
        }
    }

    &-param{
        padding: 1.5em 2em;
        transition: background-color 0.3s;
        position: relative;

        &__name{
            font-size: 1.3em;
            margin-bottom: 0.4em;
        }

        &__value{
            font-size: 1.1em
        }

        &__descr{
            opacity: 0.5;
            margin-top: 1.2em;
            line-height: 1.2;
        }

        &__status{
            position: absolute;
            left: 0.8em;
            top: 2em;
            width: 0.6em;
            height: 0.6em;
            border-radius: 100%;

            &.wait{
                background-color: rgb(214, 214, 214);
            }

            &.error{
                background-color: rgb(245, 63, 50);
            }

            &.active{
                background-color: rgb(147, 212, 109);
            }
        }

        &.focus{
            background-color: #353535;
        }
    }

    &-param-title{
        padding: 1.5em 2em;

        > span{
            font-size: 1.2em;
            font-weight: 600;
            color: #6f6f6f;
        }
    }

    &-input{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 21;

        &__content{
            background-color: #232425;
            width: 65%;
            flex-shrink: 0;
            display: flex;
            padding: $offset;
            flex-direction: column;
            justify-content: center;
        }

        &__input{
            font-size: 2.1em;
            margin-bottom: 1em;
            min-height: 2.3em;
            border-bottom: 2px solid #4e4e4e;
            padding: 0.6em 0;
        }

        &__links{
            margin-top: 1em;
            background-color: #2c2d2d;
            border-radius: 10em;
            padding: 0.7em 1em;
            font-size: 1.2em;
            text-align: center;
        }
    }
}

body.settings--open{
    .settings{
        &__layer{
            display: block;
        }
        &__content{
            right: 0
        }
    }
}