.settings{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    &__layer{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;

        @media screen and (max-width: $media_xm) {
            backdrop-filter: blur(1em);
        }
    }

    &__content{
        position: fixed;
        top: 0;
        left: 100%;
        transition: transform $speed;
        background: #262829;
        width: 35%;
        display: flex;
        flex-direction: column;
        will-change: transform;

        @media screen and (max-width: $media_md) {
            width: 50%;
        }

        @media screen and (max-width: $media_sm) {
            width: 70%;
        }

        @media screen and (max-width: $media_xm) {
            width: 100%;
            left: 0;
            top: unset;
            bottom: 0;
            height: auto !important;
            transition: none;
            transform: translate3d(0, 100% ,0);
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
        }
    }

    &__head{
        flex-shrink: 0;
        padding: 2em;
        padding-bottom: 0;
    }

    &__body{
        flex-grow: 1;
        display: flex;

        @media screen and (max-width: $media_xm) {
            height: auto !important;
        }

        > * {
            width: 100%;
        }
    }

    &__title{
        font-size: 2.2em;
        font-weight: 300;
    }

    &-folder{
        padding: 1.5em 2em;
        display: flex;
        will-change: transform;

        &__icon{
            flex-shrink: 0;
            margin-right: 1.5em;
            width: 2em;
            height: 2em;
            display: flex;

            > *{
                width: 2em;
                height: 2em;
            }
        }
        &__name{
            font-size: 1.4em;
            line-height: 1.3;
        }

        &.focus{
            background-color: #353535;
        }
    }

    &-param{
        padding: 1.5em 2em;
        position: relative;
        will-change: transform;

        &__name{
            font-size: 1.3em;
            margin-bottom: 0.4em;
        }

        &__value{
            font-size: 1.1em
        }

        &__descr{
            opacity: 0.5;
            margin-top: 1.2em;
            line-height: 1.2;
        }

        &__label{
            background-color: #fff !important;
            color: #232425 !important;
            border-radius: 0.3em;
            padding: 0.2em 0.5em;
            display: inline-block;
        }

        &__status{
            position: absolute;
            left: 0.8em;
            top: 2em;
            width: 0.6em;
            height: 0.6em;
            border-radius: 100%;

            &.wait{
                background-color: rgb(214, 214, 214);
            }

            &.error{
                background-color: rgb(245, 63, 50);
            }

            &.active{
                background-color: rgb(147, 212, 109);
            }
        }

        &.focus{
            background-color: #353535;
        }

        &--button{
            .settings-param__name{
                margin-bottom: 0;
            }
        }
    }

    &-param-title{
        padding: 1.5em 2em;

        > span{
            font-size: 1.2em;
            font-weight: 600;
            color: #6f6f6f;
        }
    }

    &-param-text{
        padding: 1.5em 2em;
        line-height: 1.4;
    }

    &-input{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 21;

        &__content{
            background-color: #232425;
            width: 65%;
            flex-shrink: 0;
            display: flex;
            padding: $offset;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: $media_md) {
                width: 100%;
            }
        }

        &__input{
            font-size: 2.1em;
            margin-bottom: 1em;
            min-height: 2.3em;
            border-bottom: 2px solid rgba(221, 221, 221, 0.06);
            padding: 0.6em 0;

            &.filled::after{
                content: "";
                display: inline-block;
                border-right: 0.15em solid #fff;
                height: 1em;
                margin: -1em 0;
                margin-left: 0.1em;
    
                animation: animation-search-input-line 0.8s infinite
            }
        }

        &__links{
            margin-top: 1em;
            background: rgba(221, 221, 221, 0.06);
            border-radius: 10em;
            padding: 0.7em 1em;
            font-size: 1.2em;
            text-align: center;

            @media screen and (max-width: $media_md) {
                display: none;
            }
        }

        &__title{
            font-size: 2.2em;
            margin-bottom: 0.7em;
        }

        &--free{
            background-color: #232425;

            .settings-input__content{
                margin: 0 auto;
            }
        }
    }
}

body.settings--open{
    .settings{
        &__layer{
            display: block;
        }
        &__content{
            @media screen and (min-width: $media_xm) {
                transform: translate3d(-100%, 0 ,0);
            }
        }
    }
}