.timetable{
    padding: 0 $offset;

    &:after{
        content: '';
        display: block;
        clear: both;
    }

    &__inner{
        padding-bottom: 100%;

        @media screen and (max-width: $media_xm) {
            padding-bottom: 120%;
        }

        @media screen and (max-width: $media_xs) {
            padding-bottom: 115%;
        }
    }

    &__item{
        float: left;
        width: 14.28%;
        position: relative;

        @media screen and (max-width: $media_md) {
            width: 20%;
        }

        @media screen and (max-width: $media_sm) {
            width: 25%;
        }

        @media screen and (max-width: $media_xs) {
            width: 33.33%;
        }

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            right: 0.2em;
            bottom: 0.2em;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0.3em;
        }

        &--any{
            &:before{
                background-color: rgba(255,255,255,0.3);
            }
        }

        &.focus{
            color: #000;
            
            &:before{
                background-color: #fff;
            }
        }
    }

    &__body{
        position: absolute;
        left: 1em;
        bottom: 1em;
        right: 1em;

        > div{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.4;

            > span{
                display: inline-block;
                width: 0.5em;
                height: 0.9em;
                margin-right: 0.5em;
                border-radius: 0.2em;
                margin-bottom: -0.1em;
            }
        }
    }

    &__date{
        position: absolute;
        top: 1em;
        left: 1em;
        font-size: 0.9em;
    }

    &__preview{
        margin-bottom: 0.8em;

        > img{
            width: 5em;
            height: 3.1em;
            margin-bottom: 0.3em;
            border-radius: 0.3em;
        }

        > div{
            font-size: 0.9em;
        }
    }
}