@use 'variables.scss' as var;
body.touch-device{
    .scroll{
        overflow: auto !important;

        > .scroll__content > .scroll__body:after{
            content: "";
            display: block;
            width: var.$offset;
            height: var.$offset;
            flex-shrink: 0;
        }

        &--horizontal{
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    .full-start__buttons-scroll .scroll__body{
        &:after{
            display: none !important;
        }

        .full-start__buttons:after{
            content: "";
            display: block;
            width: 0.75em;
            height: var.$offset;
            flex-shrink: 0;
        }
    }

    @media screen and (max-width: var.$media_xm) {
        .settings__body,
        .modal__body,
        .selectbox__body{
            .scroll{
                overscroll-behavior: none;
            }
        }
    }
}