@use '../abstracts' as *;

.welcome{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000 url(../img/welcome.jpg) no-repeat 50% 50%;
    background-size: cover;
}