.wrap{
    display: flex;
    position: relative;
    z-index: 10;

    &__left{
        width: 15em;
        padding-top: 4em;
        flex-shrink: 0;
        margin-left: -15em;
        z-index: 2;
        position: relative;
        transition: transform $speed;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMkAAAAGCAYAAABpeLpkAAAB70lEQVRYhaVXSXLEIAyU5jGp5P+vy2Kci5lpt7uFnFBFGYQ2hDbn2/vHHq/h1g5W4ewRkcfX0U0chq1ksp4ZV/odwIo3r9XZ5D0Kevx2efI5w9xd+Iwn0gzCUzSOD/Lg9RDrAXSbwNkId7zgOSL2YfC2BnwjOO+/jvkJ62/6zvXPMed6i4jtIQw59wkz6FwN5oGOm4Tb4b2S18B9glk+wvCufJZwHgKPcZUcVOQf99ztJrTu7nzJnOjS4PFbI4zftpC/r3RX/Du6qDOEOX+9+OyDkJRBnDGqh3JjxV/pwUM5NfHM6tFZZsZVB0WvHAH3KiGkgFV8mUcC6cIRcmUzJdclsYoG1y7JVf5R2acTBKu7dIdLJnM++WGQ8COwYDZqI2Ltu7kLcZvDWQj3zlh5ZKfKiZ1RVxVH6bqyQ/cB5QMZUuGEl0qzytCVTqhH5ZQuYSGMcdnhnQyn56raKBxXzZxdTjJnkPylHDfar1ZwK4MqOTfK6wnEwaYqwZ3gWFUHJc/RVJW1al/VUAnG4Sj5jId2qroKHhgUGBxRrKvRrZBst0634CreKfDxn8QJxX233Eboy7HRlKzK+J32ZbJzbaIKls79pRAzutWjagtdhr6jA+OZ9saakwO+U5G6Orlsr3TkKqsqGNOp+0/4rdb0F6yINZssi7KMAAAAAElFTkSuQmCC') repeat-y 0 0;
        background-size: contain;

        .scroll--mask .scroll__content{
            padding: 1.9em 0;
        }

        &--hidden{
            visibility: hidden;
        }
    }

    &__content{
        flex-shrink: 0;
        padding-top: 4em;
        transition: transform $speed;

        display: flex;

        > *{
            flex-grow: 1;
        }
    }
}


body.menu--open:not(.light--version){
    .wrap{
        &__left{
            transform: translate3d(15em, 0, 0);
            background: transparent;
        }
        &__content{
            transform: translate3d(15em, 0, 0);
        }
    }
    .background{
        opacity: 0.5;
    }
}

body.light--version .wrap__left{
    visibility: visible;
}

@media screen and (max-width: $media_md) {
    body.menu--open{
        .wrap{
            &__left{
                transform: translate3d(15em, 0, 0);
            }
        }
    }
}