@use '../variables.scss' as var;
.full-descr{
    padding: 0 var.$offset;
    display: flex;

    @media screen and (max-width: var.$media_sm) {
        display: block;
    }

    &__text{
        font-size: 1.3em;
        line-height: 1.4;
        font-weight: 300;
        max-height: 70vh;
        overflow: hidden;
        max-height: 41vh;
        mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
        width: 70%;

        @media screen and (max-width: var.$media_lg) {
            width: 100%;
        }
    }

    &__left{
        flex-grow: 1;
    }

    &__right{
        flex-shrink: 0;
        width: 30%;
        padding-left: 2.3em;

        @media screen and (max-width: var.$media_sm) {
            width: 100%;
            padding-left: 0;
            padding-top: 2em;
        }
    }

    &__details{
        display: flex;
        flex-wrap: wrap;
        margin: -1em;

        > *{
            margin: 1em
        }
    }

    &__line{
        margin-top: 2em;

        &-name{
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &-body{
            display: flex;
            flex-wrap: wrap;
            margin: -0.2em;
        }
    }

    &__info{
        &-name{
            font-size: 1.2em;
            margin-bottom: 0.7em;
        }

        &-body{
            font-size: 1.3em;
            font-weight: 300;
        }
    }

    &__tag{
        border-radius: 0.6em;
        background-color: rgba(0,0,0,0.3);
        padding: 0.4em 0.8em 0.5em 0.8em;
        font-size: 1.2em;
        margin: 0.2em;

        &.focus{
            background-color: #fff;
            color: #000;
        }
    }

    &__tags{
        display: flex;
        flex-wrap: wrap;
        margin: -0.5em;
        margin-top: 1.5em;

        @media screen and (max-width: var.$media_xm) {
            font-size: 0.9em;
        }

        > * {
            margin: 0.5em
        }
    }
}