.full-episodes{
    display: flex;
    align-items: flex-start;

    .full-episode{
        width: 15em;
        flex-shrink: 0;

        + .full-episode{
            margin-left: 1em;
        }
    }
}

.full-episode{
    position: relative;

    &__img{
        padding-bottom: 57%;
        position: relative;
        border-radius: 1em;
        background-color: rgba(0,0,0,0.3);
        transition: background-color $speed;

        img{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            opacity: 0;
            transition: opacity $speed;
        }
    }

    &__body{
        padding: 1em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: rgba(0,0,0,0.5);
        border-radius: 1em;
        justify-content: flex-end;
    }

    &__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3em;
    }

    &__date{
        font-size: 1em;
        margin-top: 0.6em;
    }

    &__num{
        font-size: 2em;
        margin-bottom: 0.7em;
    }

    &__viewed{
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        display: none;
        
        > svg{
            width: 1.4em !important;
            height: 1.4em !important;
        }
    }

    &.focus{
        .full-episode__body{
            display: flex;
        }

        &::after{
            content: '';
            position: absolute;
            left: -0.5em;
            top: -0.5em;
            right: -0.5em;
            bottom: -0.5em;
            border: 0.3em solid #fff;
            border-radius: 1.4em;
            pointer-events: none;
        }
    }

    &--loaded{
        .full-episode__img{
            background: transparent;

            img{
                opacity: 1;
            }
        }
    }

    &--viewed{
        .full-episode__viewed{
            display: block;
        }
    }

    &--next{
        .full-episode{
            &__body{
                display: flex;
                background-color: transparent;
            }

            &__img{
                background-color: transparent;
                
                img{
                    opacity: 0;
                }

                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 0.2em dashed rgba(255,255,255,0.2);
                    border-radius: 1em;
                }
            }
        }
    }
}

body.true--mobile .full-episode .full-episode__body{
    display: flex;
}