.full-episodes{
    display: flex;
    align-items: flex-start;

    .full-episode{
        width: 28.4em;
        flex-shrink: 0;

        + .full-episode{
            margin-left: 1em;
        }
    }
}

.full-episode{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    position: relative;

    &__left{
        width: 11em;
        flex-shrink: 0;
    }

    &__img{
        padding-bottom: 57%;
        position: relative;

        img{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.3em;
        }
    }

    &__body{
        padding: 1em;
    }

    &__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10em;
        font-size: 1.4em;
    }

    &__date{
        font-size: 1.1em;
        margin-top: 1em;
    }

    .time-line{
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        left: 12em;
    }

    &.focus{
        background-color: #fff;
        color: #000;
    }

    &--next{
        .full-episode{
            &__img{
                background-color: #363232;
                border-radius: 0.3em;

                img{
                    opacity: 0;
                }

                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2.4em;
                    height: 2.4em;
                    margin: -1.2em 0 0 -1.2em;
                    background: url(../img/icons/menu/time.svg) no-repeat 50% 50%;
                    background-size: contain;
                    font-size: 1.3em;
                }
            }
        }
    }
}