.full-persons {
    display: flex;
}

.full-person {
    display: flex;
    align-items: center;
    margin-right: 2em;
    border-radius: 1em;
    padding-right: 1.7em;
    flex-shrink: 0;
    font-size: 1.1em;

    &__photo{
        width: 7em;
        height: 7em;
        border-radius: 1em;
        background-color: #fff;
        margin-right: 1em;
        flex-shrink: 0;
        background-size: cover;
        background-position: 50% 50%;
    }

    &__name {
        font-size: 1.5em;
    }

    &__role {
        font-size: 1.1em;
        margin-top: 0.7em;
    }

    &.focus{
        background-color: #fff;
        color: #000;
    }
}