.full-review{
    padding: $offset;
    background-color: rgba(0,0,0,0.4);
    border-radius: 1em;
    min-width: 20em;
    max-width: 30em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    &__text{
        font-size: 1.2em;
        line-height: 1.3;
        margin-bottom: $offset;
        overflow: hidden;
        text-overflow: ".";
        display: -webkit-box;
        -webkit-line-clamp: 2;
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    &__footer{
        font-size: 1.2em;
        margin-top: auto;
        display: flex;
        align-items: center;
    }

    &__user{
        display: flex;
        align-items: center;
        margin-right: 2em;

        $self: &;

        &-icon{
            width: 2em;
            height: 2em;
            margin-right: 1em;
        }

        &-img{
            transition: opacity $speed;
        }

        &-email{
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 7em;
            line-height: 1.4;
        }

        &:not(.loaded){
            #{ $self }-icon{
                background: #494949;
                border-radius: 100%;
            }

            #{ $self }-img{
                opacity: 0;
            }
        }
    }

    &__like{
        display: flex;
        align-items: center;
        margin-left: auto;

        &-icon{
            margin-right: 0.7em;

            svg{
                width: 1.1em !important;
                height: 1.2em !important;
            }
        }
    }

    &.type{
        &--vertical{
            margin-bottom: $offset;
            min-width: unset;
            max-width: unset;

            + .full-review{
                margin-left: 0;
            }
        }
    }

    &.focus{
        background-color: #fff;
        color: #000;
    }

    &.bad--comment{
        opacity: 0.5;

        .full-review__like-icon{
            transform: scaleY(-1) translateY(-0.2em);
        }
    }
}

.full-review-add{
    padding: $offset;
    border-radius: 1em;
    border: dashed 2px #ddd;
    width: 12em;
    flex-shrink: 0;
    position: relative;
    min-height: 10em;

    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2em;
        height: 2em;
        background: url(../img/icons/add.svg) no-repeat 50% 50%;
        background-size: contain;
        margin-left: -1em;
        margin-top: -1em;
    }

    &.focus{
        &::after{
            content: '';
            position: absolute;
            left: -0.5em;
            top: -0.5em;
            right: -0.5em;
            bottom: -0.5em;
            border: 0.3em solid #fff;
            border-radius: 1.4em;
            pointer-events: none;
        }
    }
}

.full-review-all{
    align-items: center;
    justify-content: center;
    min-width: 12em;

    &__text{
        font-size: 1.2em;
    }

    &__count{
        font-size: 2em;
        margin-top: 0.5em;
    }
}