.full-start{
    padding: 0 $offset;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    position: relative;

    &__tags{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 1em;
    }

    &__body{
        display: flex;
        height: 30em;

        @media screen and (max-width: $media_md) {
            height: auto;
            padding-bottom: 3em;
        }
    }

    &__right{
        flex-shrink: 0;
    }

    &__left{
        flex-grow: 1;
        padding-left: 3em;
        overflow: hidden;

        @media screen and (max-width: $media_xm) {
            padding-left: 1.5em;
        }
    }

    &__poster{
        position: relative;
        
        &.focus img{
            box-shadow: 0 0 0 0.4em #fff;
        }

        @media screen and (max-width: $media_xm) {
            font-size: 0.9em;
        }
    }

    &__img{
        position: relative;
        border-radius: 0.3em;
        width: 17.7em;
        height: 26.4em;

        @media screen and (max-width: $media_md) {
            font-size: 0.8em;
        }
    }

    &__tag{
        border-radius: 5em;
        background-color: rgba(0,0,0,0.3);
        padding: 0.3em 0.5em;
        display: flex;
        align-items: center;
        margin-right: 1em;
        font-size: 1.05em;
        white-space: nowrap;
        margin-bottom: 0.4em;

        > img{
            width: 1em;
            height: 1em;
            margin-right: 0.8em;
        }

        > div{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__title,
    &__title-mobile{
        font-size: 4em;
        font-weight: 700;
        margin-bottom: 0.1em;
        max-width: 90%;
        max-height: 2.6em;
        overflow: hidden;
        line-height: 1.3;

        @media screen and (max-width: $media_md) {
            font-size: 3.2em;
        }
    }

    &__title{
        @media screen and (max-width: $media_xm) {
            display: none;
        }
    }

    &__title-mobile{
        display: none;

        @media screen and (max-width: $media_xm) {
            display: block;
            max-width: 100%;
            margin-bottom: 1em;
            font-size: 2.7em;
        }
    }

    &__title-original{
        font-size: 2.3em;
        font-weight: 300;
        max-width: 80%;
        margin-bottom: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.3;

    }

    &__descr{
        max-width: 80%;
        font-size: 1.3em;
        line-height: 1.4;
        font-weight: 300;
        height: 8em;
        margin-bottom: 1em;
        overflow: hidden;
        mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%);

        @media screen and (max-width: $media_md) {
            display: none;
        }
    }

    &__buttons-line{
        display: flex;
        align-items: center;
    }

    &__buttons{
        display: flex;
        align-items: center;
    }

    &__button{
        margin-right: 1em;
        font-size: 1.3em;
        background-color: rgba(0,0,0,0.3);
        padding: 0.3em 1.2em;
        display: flex;
        border-radius: 5em;
        align-items: center;
        height: 2.8em;
        transition: background-color 0.3s;

        > svg{
            width: 1.5em;
            height: 1.5em;

            + span{
                margin-left: 1em;
            }
        }

        &.focus{
            background-color: #fff;
            color: #000;
        }
    }

    &__ratings{
        margin-left: 2em;
        display: flex;
    }

    &__rating{
        text-align: right;

        &-name{
            text-transform: uppercase;
            font-size: 0.7em;
        }
        &-value{
            font-size: 3em;
            font-weight: 600;
        }

        + div{
            margin-left: 2em;
        }
    }

    &__icons{
        margin-left: auto;
        display: flex;

        @media screen and (max-width: $media_md) {
            position: absolute;
            top: 17.1em;
            left: 17.6em;
        }

        @media screen and (max-width: $media_xm) {
            top: 15em;
            left: 14.8em;
        }
    }

    .info__rate{
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(23,19,18,0.86);
        border-radius: 0.3em;

        @media screen and (max-width: $media_md) {
            font-size: 0.7em;
        }
    }
}